h1 {
    color: navy;
    margin-left: 20px;
  }
.block{
    display: block;
}
#wrapper-div{
    display: flex;
    background-color: blueviolet;
    border-style: solid;
    height: 80vw;
}
  .inside-div{
      background-color: red;
      border-style: solid;
      width: 80%;
      height: 80%;
      padding: 2%;
      margin: 2%;

  }

  img {
    width: 80%;
    
    object-fit: cover;
  }
  